* {
  font-family: Roboto, sans-serif;
}
body {
  margin: 0;
}
header {
  height: 100px;
  Background-color: #f2f2f2;
}
header > h1 {
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}
section {
  padding: 8px 8px;
}

#search {
  text-align: center;
}
#search>input {
  width: 80%;
}
#search>input, #search>button {
  margin: 10px auto;
  font-size: large;
}
#products table {
  width: 100%;
}
table.product td {
  border: none;
}
.product {
  text-align: center;
}

.product h1 {
  margin: 2px auto;
  height: 2em;
  background-color: #f2f2f2;
}

#p0, #p1, #p2 {
  border: 1px solid black;
  vertical-align: top;
  width: 33%;
}
#products button {
  margin: 10px auto;
  font-size: x-large;
}

#error > h2 {
  background-color: #fbe5e1;
  color: #c0341d;
}
